body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #F5F5F5;
    display: flex;
    margin: 0;
    overflow-y: auto; 
    font-family: 'Nunito Sans', sans-serif;
} .submit:hover {
    background-color: #FFEA00;
} .abstract {
    resize: none;
} p {
    font-size: 13px;
} 