body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #F5F5F5;
    display: flex;
    margin: 0;
    overflow-y: auto; 
    font-family: 'Nunito Sans', sans-serif;
} .submit {
    border: none;
} .submit:hover {
    background-color: #FFEA00;
    border: none;
} .abstract {
    resize: none;
} p {
    font-size: 13px;
}
.check {
    border: none; 
    background: none; 
    text-decoration: underline;
    padding: 5px;
} .check:hover {
    opacity: .7;
} .privacytxt {
    font-size: 17px;
}
