body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
} p {
    font-size: 15px;
} a {
    color: black;
} a:hover {
    color: gray;
} .btn-warning:hover {
    background-color: #FFEA00;
}