body {
    background-image: url("../img/bg-rtu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    transition: background-image 1s ease-in-out;
    font-family: 'Nunito Sans', sans-serif;
} h1 {
    font-size: 25px;
    color: white;
} a {
    color: white;
} a:hover {
    opacity: .7;
} input.form-control:focus {
    border-color: none; 
    box-shadow: none;
} .btn-warning:hover {
    background-color: #FFEA00;
}